<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BoxBuild Tech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BoxBuild Tech</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Logo -->
  <div id="container">
    <ion-img
      width="80"
      height="80"
      src="../../../assets/img/2732px.png"
    ></ion-img>
    <ion-button href="/home">Login</ion-button>
    <ion-button href="/user-registration">Sign Up</ion-button>
  </div>

  <!-- Form -->
  <ion-item style="margin-top: 300px;">
    <ion-label position="stacked"
      >Email <ion-text color="danger">*</ion-text></ion-label
    >
    <ion-input
      required
      type="text"
      oninput="handleFirstNameValue(event)"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"
      >Password <ion-text color="danger">*</ion-text></ion-label
    >
    <ion-input
      required
      type="text"
      oninput="handleLastNameValue(event)"
    ></ion-input>
  </ion-item>
</ion-content>
